{% load pwa %}
{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% progressive_web_app_meta %}
    <title>Learncess|Login</title>
    <!--repositive site-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--CSS file -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{%static 'css/login.css'%}"
    />
    <link href="https://fonts.googleapis.com/css?family=Arimo|Open+Sans+Condensed:300|Playfair+Display+SC&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel:900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Heebo:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--header -->
    <nav class="navbar navbar-expand-lg sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <p class="display-4" style="font-size: 30px; font-family: 'Cinzel', serif; color: #000;">Learncess</p>
        </a>


        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          style="color: #000;"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <!---<div class="dropdown">
              <button class="dropbtn">Category</button>
              <div class="dropdown-content">
                <a href="#">JEE-MAIN&ADVANCE Classes</a>
                <a href="#">CET&NEET Classes</a>
                <a href="#">UPSC& OTHER.GOV Classes</a>
                <a href="#">BANK PO Classes</a>
                <a href="#">CAT Classes</a>
                <a href="#">GATE Classes</a>
                <a href="#">FOUNDATION Classes</a>
              </div>-->
            </div>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <button type="button" class="btn btn-outline" id="Loginbutton"style="width:120px; height: 45px;  display: inline-block;margin-left: 15px; border-radius: 36px; background-color: #813B6A;" ><a class="nav-link" href="{% url 'login' %}" style="font-size: 10px; color: #fff;  font-family: 'Arimo', sans-serif; display: inline;">Log In</a></button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-outline" id="Loginbutton"style="width: 130px; height: 45px;  display: inline-block;margin-left: 15px; border-radius: 36px; background-color: #813B6A;"><a class="nav-link"  href="{% url 'register' %}" style="font-size: 10px; color: #fff; font-family: 'Arimo', sans-serif;display: inline;">Sign up</a></button>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% if messages %}
     {% for message in messages %}
       <div class="alert {% if message.tags == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissable" style="width:400px;margin-left:570px;margin-top:20px;">
         <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
           <strong>{{ message.tags|title }}!</strong>
             {{ message }}
        </div>
      {% endfor %}
 {% endif %}

    <!--login main container-->
    <div class="login" id="main">
      <div class="loginhead">
        <p class="display-4"><h2><b>Login</b></h2></p>
      </div>
      <div class="container" id="logincontainer" >
        <div class="row">
          <div class="card" id="logincard">
            <div class="card-body" id="headercard">
              <form id="loginform" method="post" action="/login_validition/">
                {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">

              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" name="password">
              </div>
              <button type="submit" class="btn btn-outline" style="background-color: #813B6A;color: #fff; padding: 12px; ">Login</button>
              <a href="{% url 'password_reset' %}" class="text-muted">Forgot Password?</a>
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!---<div class="loginbtn" id="main2">
      <div class="container" id="linkcontainer">
        <div class="row">
          <div class="card" id="linkcard">
            <div class="card-body" id="linkheadercard">
             <div class="Facebookbtn">
                <a href="#"><span><i class="fab fa-facebook" style="font-size: 29px; float: left; margin-right: 10px;"></i><span style="font-size: 13px; color: #000;">Log In With Facebook</span>
              </div>
              <div class="Googlebtn">
                <a href="{% url 'social:begin' 'google-oauth2' %}"><span><i class="fab fa-google" style="font-size: 29px; float: left; margin-right: 10px;"></i><span style="font-size: 13px; color: #000;">Log In With Google</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>--->





    <!--footer-->
    <footer class="page-footer font-small unique-color-dark">
      <div style="background-color: #813B6A;">
        <div class="container">
          <!-- Grid row-->
          <div class="row py-4 d-flex align-items-center">
            <!-- Grid column -->
            <div
              class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
            >
              <h6 class="mb-0">Get connected with us on social networks!</h6>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-6 col-lg-7 text-center text-md-right">
              <!-- Facebook -->
              <a class="fb-ic">
                <i class="fab fa-facebook-f white-text mr-4"> </i>
              </a>
              <!-- Twitter -->
              <a class="tw-ic">
                <i class="fab fa-twitter white-text mr-4"> </i>
              </a>

              <!--Linkedin -->
              <a class="li-ic">
                <i class="fab fa-linkedin-in white-text mr-4"> </i>
              </a>
              <!--Instagram-->
              <a class="ins-ic">
                <i class="fab fa-instagram white-text"> </i>
              </a>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row-->
        </div>
      </div>

      <!-- Footer Links -->
      <div class="container text-center text-md-left mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <a class="navbar-brand" href="#">
              <p class="display-4" style="font-size: 30px; font-family: 'Cinzel', serif; color: #000;">Learncess</p>
            </a>

            <p>
              <small>
                <b>
                Just over a few years ago,we became victim of something fascinating,How we suppose
                thing and places need not to be actually up to that mark,same with the education system in India.
                WE Learncess,basicaaly a startup that helps students and you all to find authenticity of institutes so that you can make better informed decision
                and founded with strong intention to guide and shape young minds to test themselves in this compititive world.</b>

              </small>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4" style="color: #000;">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold">Useful links</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px; color: #000;"
            />
            <p>
              <a href="#!"style=" color: #000;">Your Account</a>
            </p>
            <p>
              <a href="#!"style=" color: #000;">Add Classroom</a>
            </p>
            <p>
              <a href="#!"style=" color: #000;">Registration</a>
            </p>
            <p>
              <a href="#!"style=" color: #000;">Help</a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold" style="color: #000;">Contact</h6>
            <hr
              class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
              style="width: 60px;"
            />
            <p><i class="fas fa-home mr-3"></i>Dehu Phata, Alandi, PUNE 412105, INDIA</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> Learncess@gmail.com
            </p>
            <p><i class="fas fa-phone mr-3"></i> + 91 8999632335</p>
            <p><i class="fas fa-print mr-3"></i> </p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
      <!-- Footer Links -->

      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="background-color:#000;">
        © 2019 Copyright:
        <a href="#/home/sandesh/Desktop/NewLearncess/HOME/index.html">
          Learncess.com</a
        >
      </div>
    </footer>

    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


  </body>
</html>
